<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sunarc_Distributed::customer_distributor" title="All Distributor" translate="title" module="Sunarc_Distributed" sortOrder="10" parent="Magento_Customer::customer" action="customer/distributor/" resource="Magento_Customer::manage"/>
    </menu>
</config>
