<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_PurchaseManagement
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="purchasemanagement" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Purchase Management</label>
            <!-- Assign section to tab -->
            <tab>webkul</tab>
            <resource>Webkul_PurchaseManagement::config_purchasemanagement</resource>
            <!-- create group for fields in section -->
            <group id="general_options" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="procurement_method" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Procurement Method</label>
                    <comment>Automatic(Magento will trigger a draft purchase order to buy the required quantities to the supplier)</comment>
                    <source_model>Webkul\PurchaseManagement\Model\Config\Source\OrderType</source_model>
                </field>
                <field id="prefix" translate="label comment" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Prefix</label>
                    <validate>validate-data required-entry</validate>
                    <comment>Prefix used during quotation increment number generation.</comment>
                </field>
                <field id="padding" translate="label comment" sortOrder="3" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Padding</label>
                    <validate>validate-digits required-entry</validate>
                    <comment>Padding for quotation/purchase order increment number generation.</comment>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Options</label>
                <field id="quotation_template" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quotation Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_template" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Purchase Order Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
